
.carousel {
    background: linear-gradient(white, lightgrey, grey);
    margin-top: 10px;
    height: 500px;
    box-shadow: 5px 5px 8px white;
    opacity: 0.9;
    font-size: 160%;
    font-family: verdana;
}

.carousel-indicators{
  font-size: 120%;
  top: 16.6em;
}

#photo{
  height: 0;
  width: 0;
}

@media (max-width: 768px){
  .carousel {
      margin-top: 10px;
      height: 500px;
      font-size: 130%;

  }
  .carousel-indicators{
    font-size: 80%;
    top: 31.5em;
  }
  #photo{
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px){

  .carousel {
      font-size: 145%;
  }
  .carousel-indicators{
    font-size: 80%;
    top: 28.2em;
  }
  #photo{
    visibility: hidden;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .carousel-indicators{
    font-size: 80%;
    top: 25.4em;
  }
}
