.bouton{
  font-size: 180%;
  margin-left: 36.4%;
  margin-top: -0.9%;
  border-radius: 10px 10px;
  position: absolute;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #063E64;
  font-family: verdana;
}

.bouton:hover{
  background: #BD5200;
  color: white;
  border-color: #BD5200;
}

#section-contact {
  border: 1px solid lightgrey;
  border-top-color: transparent;
  border-left-color: transparent;
  width: auto;
  height: 440px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 8px white;
}

.contact {
  width: auto;
  height: 400px;
  list-style: none;
}

#mail{
  position: absolute;
  left: 250px;
  width: 75px;
  height: 75px;
}

.tel{
  position: relative;
  top: 5em;
  right: 150px;
  margin-top:5%;
}

#tel{
  position: absolute;
  right: 90px;
  margin-top: -10%;
  width: 75px;
  height: 75px;
}

.dropdown {
	width: 50px;
	height: 50px;
	padding-top: 10px;
	margin: auto;
	transition-duration: 0.4s;
	transition-property: height;
}

.dropdown:hover {
	height: 100px;
	transition: 0.9s height;
}

li {
	list-style : none;
}

#facebook{
  position: absolute;
  right: 420px;
  width: 75px;
  height: 75px;
}

#twitter{
  position: absolute;
  right: 230px;
  width: 80px;
  height: 80px;
}

@media (max-width: 768px){

  .bouton{
    display: none;
  }
  .mail{
    margin-top: -50px;
  }
  #facebook{
    position: absolute;
    left:240px;
    top: 13em;
    width: 80px;
    height: 80px;
  }

  #twitter{
    position: absolute;
    top: 13em;
    width: 90px;
    height: 90px;
  }

  #tel{
    position: absolute;
    left: -100px;
  }

  .tel{
    position: relative;
    right: 120px;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .bouton{
    margin-top: -15px;
    margin-left: 250px;
  }
  #twitter{
    width: 90px;
    height: 90px;
    margin-left: 130px;
    margin-top: -120px;
  }
}

@media (min-width: 992px) and (max-width: 1200px){

  .bouton{
    margin-top: -15px;
    margin-left: 365px;
  }

  #twitter{
    width: 90px;
    height: 90px;
    margin-left: 130px;
    margin-top: -120px;
  }
}
