.section-perso {
  border: 1px solid lightgrey;
  border-top-color: transparent;
  border-left-color: transparent;
  width: auto;;
  height: 440px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 8px white;
  border-radius: 7px 7px;
}

.texte-perso{
  position: relative;
  top:-2em;
}

.item a {
  color: black;
}

.item a:hover {
  text-decoration: none;
  color: black;
}

.photoperso{
  margin-left: 2%;
  margin-top: -6.5%;
  margin-bottom: 4%;
}

@media (max-width: 768px){

  .section-perso {
    text-align: center;
  }
  .photoperso{
    visibility: hidden;
  }
  .texte-perso{
    margin-top: -150px;
  }

}

@media (min-width: 768px) and (max-width: 992px){
  .photoperso{
    margin-left: 70%;
    margin-top: -20%;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .photoperso{
    margin-left: 70%;
    margin-top: -16%;
  }
}
