.section-competence {
  border: 1px solid lightgrey;
  border-top-color: transparent;
  border-left-color: transparent;
  width: auto;
  height: 440px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 8px white;
}

#html{
  width: 100px;
  height: 100px;
  margin-right: 35%;
  margin-top: 0.9%;
}

#css{
  width: 80px;
  height: 100px;
  margin-top: -14.3%;
}

#js{
  width: 160px;
  height: 90px;
  margin-left: 35%;
  margin-top: -20.7%;
}

#inkscape{
  width: 100px;
  height: 100px;
}

.compsec{
  margin-top: -6%;
  margin-right: 36%;
}

.logoink{
  margin-top: -7.2%;
  margin-left: 25%;
}
.serv{
  margin-top: -6.5%;
}

.methode{
  margin-top: 3%;
  margin-right: 40%;
}

.travail{
  margin-right: 2%;
  margin-top: -3.7%;
}

.taches{
  margin-left: 1%;
  margin-top: -0.7%;
}

.recherche{
  margin-right: 0.5%;
  margin-top: -0.7%;
}

@media (max-width: 768px){

  #html{
    margin-right: 60%;
    margin-top: 0.9%;
  }

  #css{
    margin-top: -150px;
  }

  #js{
    margin-left: 55%;
    margin-top: -200px;
  }

  .compsec{
    margin-top: -60px;
    margin-right: 40%;
  }
  .logoink{
    margin-top: -15px;
    margin-right: 60%;
  }
  .serv{
    margin-top: -130px;
    margin-left: 55%;
  }

  .methode{
    margin-top: 85px;
    margin-right: 50%;
  }

  .travail{
    margin-right: -43%;
    margin-top: -35px;
  }

  .taches{
    margin-left: 47%;
    margin-top: -0.7%;
  }

  .recherche{
    margin-right: -45%;
    margin-top: -0.7%;
  }
}

@media (min-width: 768px) and (max-width: 992px){

#css{
  margin-top: -152px;
}

#js{
  margin-left: 37%;
  margin-top: -212px;
}

.logoink{
  margin-top: -50px;
  margin-left: 60%;
}
.serv{
  margin-top: -97px;
  margin-left: 22%;
}

.methode{
  margin-right: 43.5%;
}

.travail{
  margin-right: -10%;
  margin-top: -37px;
}

.taches{
  margin-right: -13%;
}

.recherche{
  margin-right: -12%;
  margin-top: -0.7%;
}
}

@media (min-width: 992px) and (max-width: 1200px){

  #css{
    margin-top: -152px;
  }

  #js{
    margin-left: 37%;
    margin-top: -220px;
  }

  .logoink{
    margin-top: -50px;
    margin-left: 50%;
  }

  .serv{
    margin-top: -97px;
    margin-left: 12%;
  }

  .methode{
    margin-right: 43.5%;
  }

  .travail{
    margin-right: -5%;
    margin-top: -37px;
  }

  .taches{
    margin-right: -8%;
  }

  .recherche{
    margin-right: -7%;
    margin-top: -0.7%;
  }
}
