/*Reset CSS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: verdana;
  overflow: hidden;
}

#moi, #cv, #formation, #competence, #contact {
  font-weight: bold;
  font-size: 150%;
  font-style: italic;
  text-decoration: underline;
  font-family: verdana;
  margin-bottom: 80px;
}

#competence{
  margin: 0;
}
