@media screen and (min-width:470px) and (max-width:800px) {/*Taille mini et maxi de l'affichage*/

/*-----------Corps de la page------------*/
    
    body {
        max-width:800px;/*Taille max de la largueur de la page*/
	min-width:470px;/*Taille mini de la largueur de la page*/
	margin:0;/*Pas de marge*/
	overflow-x:hidden;/*Suppression de la barre de scrolling horizontale*/
    }

/*----------Titre----------*/

    #titre {
	width:0;/*Pas de largeur*/
	padding-right:350px;/*Marge intérieure droite du titre*/
	}

/*-----------Entête-----------*/

    header {
	position:absolute;/*Position de l'entête*/
	font-size:100%;/*Taille de l'entête*/
	}

/*-----------Barre de Navigation-----------*/

    #accueil {
	position:absolute;/*Position de la barre de nav*/
	top:9em;/*Position de la barre de nav par rapport à la hauteur de la page*/
	font-size:100%;/*Taille de la barre de nav*/
	margin-right:290px;/*Marge extérieure droite de la barre de nav*/
	}

/*----------Titre "Présentation"-----------*/

    #presentation {
	margin-left:0;/*Pas de marge*/
	top:1em;/*Position du titre "présentation" par rapport à la hauteur de la page*/
	left:100px;/*Position à 100 pixels de la gauche*/
	}

/*----------Titre "Formation"-----------*/

    #formation {
	margin-left:0;/*Pas de marge*/
	top:-6em;/*Position du titre "formation" par rapport à la hauteur de la page*/
	left:130px;/*Position à 130 pixels de la gauche*/
	padding-left:45px;/*Marge intérieure gauche du titre "formation"*/
	padding-right:45px;/*Marge intérieure droite du titre "formation"*/
	}

/*----------Titre "Expériences"-----------*/

    #experience {
	margin-left:0;/*Pas de marge*/
	top:-6em;/*Position du titre "expériences" par rapport à la hauteur de la page*/
	left:120px;/*Position à 120 pixels de la gauche*/
	padding-left:45px;/*Marge intérieure gauche du titre "expériences"*/
	padding-right:45px;/*Marge intérieure droite du titre "expériences"*/
	}

/*-----------Titre "Qui suis-je ?"-----------*/

    #moi {
	margin-left:0;/*Pas de marge*/
	top:-8em;/*Position du titre "Qui suis-je ?" par rapport à la hauteur de la page*/
	left:140px;/*Position à 140 pixels de la gauche*/
	}

/*---------Titre "Loisirs"----------*/

    #loisirs {
	margin-left:0;/*Pas de marge*/
	top:-7em;/*Position du titre "loisirs" par rapport à la hauteur de la page*/
	left:140px;/*Position à 140 pixels de la gauche*/
	padding-left:45px;/*Marge intérieure gauche du titre "loisirs"*/
	padding-right:45px;/*Marge intérieure droite du titre "loisirs"*/
	}

/*----------Articles----------*/

    article {
	font-size:100%;/*Taille des articles*/
	margin-right:18px;/*Marge extérieure droite des articles*/
	}

/*----------Pied de page----------*/

    footer {
	top:15em;/*Position du pied de la page par rapport à la hauteur de la page*/
	margin-right:18px;/*Marge extérieure droite du pied de la page*/
	}
}
