/*---------Reset CSS----------*/
*{
	padding : 0;
	margin : 0;
}

/*----------Corps de la page-----------*/
body {
	background: radial-gradient(lightgrey, white, white, lightgrey);
}

.titre{
	text-align: center;
	text-decoration: underline;
	font-size: 250%;
	margin-top: 2%;
	color: #D08300;
	border-top: 2px solid #B60000;
	border-bottom: 2px solid #B60000;
	padding-top: 8px;
	padding-bottom: 8px;
}

.presentation{
	text-align: center;
	text-decoration: underline;
	font-size: 150%;
	margin-top: 5%;
	color: #D08300;
	border-top: 2px solid #B60000;
	border-bottom: 2px solid #B60000;
	padding-top: 8px;
	padding-bottom: 8px;
}

#formation{
	width: 450px;
	height: 150px;
	margin-top: 7%;
	margin-left: 4%;
	border-right: 2px solid #B60000;
	border-bottom: 2px solid #B60000;
	padding-right: 2%;
}

.header{
	border-top: 2px solid #B60000;
	border-bottom: 2px solid #B60000;
	font-size: 160%;
	color: #D08300;
	padding-top: 3px;
	padding-bottom: 3px;
}

li{
	list-style-type: none;
	font-size: 120%;
	padding-top: 10px;
}

#experience{
	margin-left: 60%;
	margin-top: -11.5%;
	width: 450px;
	height: 180px;
	border-left: 2px solid #B60000;
	border-bottom: 2px solid #B60000;
	padding-left: 2%;
}

#langues{
	width: 450px;
	height: 180px;
	margin-top: 4%;
	margin-left: 4%;
	border-right: 2px solid #B60000;
	border-bottom: 2px solid #B60000;
	padding-right: 2%;
}

#loisirs{
	width: 450px;
	height: 200px;
	margin-top: -12%;
	margin-bottom: 1%;
	margin-left: 60%;
	border-left: 2px solid #B60000;
	border-bottom: 2px solid #B60000;
	padding-left: 2%;
}

.texte{
	font-size: 120%;
	padding-top: 10px;
}

@media (max-width: 768px){

	#formation{
		width: 350px;
	}

	#experience{
		position: relative;
		right: 220px;
		margin-top: 5.5%;
		width: 350px;
		padding-bottom: 15px;
	}

	#langues{
		width: 350px;
	}

	#loisirs{
		position: relative;
		height: 295px;
		right: 220px;
		width: 350px;
		margin-top: 4%;
	}
}

@media (min-width: 768px) and (max-width: 992px){

	#experience{
		position: relative;
		right: 220px;
		margin-top: 5.5%;
		width: 450px;
		padding-bottom: 15px;
	}

	#loisirs{
		position: relative;
		height: 290px;
		right: 220px;
		width: 450px;
		margin-top: 4%;
	}

}
