/*---------Reset CSS----------*/
*{
	padding : 0;
	margin : 0;
}

/*----------Corps de la page-----------*/
body {
}

.titre{
	text-align: center;
	text-decoration: underline;
	font-size: 250%;
	margin-top: 2%;
}

.presentation{
	text-align: center;
	text-decoration: underline;
	font-size: 150%;
	margin-top: 5%;
}

#formation{
	width: 450px;
	height: 150px;
	margin-top: 7%;
	margin-left: 4%;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	padding-right: 4%;
}

#experience{
	margin-left: 60%;
	margin-top: -11.5%;
	width: 450px;
	height: 350px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	padding-left: 4%;
}

#langues{
	width: 450px;
	height: 350px;
	margin-top: -5%;
	margin-left: 4%;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	padding-right: 4%;
}

#loisirs{
	width: 450px;
	height: 400px;
	margin-top: -15%;
	margin-left: 60%;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	padding-left: 4%;
}
